<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h3>Registration Numbers</h3>
      <form action="/reg_numbers" method='post'>
        Registration <input pattern="/[A-Z]{2}\s\d{3}\W\d{3}|[A-Z]{2}\s\d{3}\W\d{3}|[A-Z]{2}\s\d{6}" class="input" id='search' placeholder="eg CA 234 345" name="numberplate" maxlength="10"
          value="">
        <button class="bttn" type="submit" name="button">ADD</button>
      </form>
      </div>
        <div class="row">
    {{#if messages.errors}}
    <div class="twelve columns" id="errors">
      {{messages.errors}}
    </div>
    {{/if}}
  </div>
      <hr>
  </div>
  <div class="row">
    <div class='twelve columns' id='city'>

      <form action="/town/{{plates}}" method="POST" onsumit="return false">
        <select name="townRegNo">
          <option value="All">All</option>
          {{#each allTowns}}
          <option value="{{starts_with}}" {{selected}} >{{town_name}}</option>
          {{/each}}
        </select>
        <button type="submit" id='filter' onclick="">Filter</button>
      </form>

      <a href='/reseting'><button class="reset">Reset</button></a>
    </div>
  </div>
  <div class="row">
     
      {{#each registrationList}}
      <div class="twelve columns" id="messages">
        {{registration}}
      </div>
      {{/each}}
  </div>
    <hr>
  <footer><strong>Done @ Cwenga Mgqobozi</strong></footer>
</div>
